<#@ template language="C#" #>
<#@ output extension="gen.cs" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ include file="Helpers.ttinclude" #>
using Ghost.Core;
using Misaki.HighPerformance.Jobs;
using Misaki.HighPerformance.LowLevel.Collections;
using System.Runtime.InteropServices;
using System.Runtime.CompilerServices;

namespace Ghost.Entities;

<# for (var i = 1; i <= Amount; i++)
{
    var generics = AppendGenerics(i);
    var restrictions = AppendGenericRestrictionsMultiline(i, "unmanaged, IComponent", 1);
#>
public interface IJobEntity<<#= generics #>>
<#= restrictions #>
{
    void Execute(Entity entity, <#= AppendParameters(i, "ref T{0} component{0}") #>, ref readonly JobExecutionContext ctx);
}

internal unsafe struct JobBatchContext<#= i #>
{
    public byte* chunk;
    public uint* chunkVersions;
    public byte* sharedDataBlob;
    public int chunkCount;
    public int entityOffset;

<# for (var j = 0; j < i; j++){ #>
    public int offset<#= j #>;
    public int enableOff<#= j #>;
    public int versionIndex<#= j #>;

<# } #>
    public int hiddenEnableCount;
    public fixed int hiddenEnableOffsets[16];
}

internal unsafe struct JobEntityBatch<TJob, <#= generics #>> : IJobParallelFor
    where TJob : unmanaged, IJobEntity<<#= generics #>>
<#= restrictions #>
{
    public fixed int componentIDs[<#= i #>];
    public fixed bool componentRW[<#= i #>];

    public TJob userJob;
    public UnsafeList<JobBatchContext<#= i #>> batches;
    public EntityQueryMask mask;
    public uint version;

    public void Execute(int loopIndex, ref readonly JobExecutionContext ctx)
    {
        ref var batch = ref ((JobBatchContext<#= i #>*)batches.GetUnsafePtr())[loopIndex];

        var pChunk = batch.chunk;
        var pVersions = batch.chunkVersions;
        var pSharedBlob = batch.sharedDataBlob;
        var count = batch.chunkCount;

<# for (var j = 0; j < i; j++){ #>
        var off<#= j #> = batch.offset<#= j #>;
        var enableOff<#= j #> = batch.enableOff<#= j #>;
        var versionIndex<#= j #> = batch.versionIndex<#= j #>;
<# } #>

        var pEntity = (Entity*)(pChunk + batch.entityOffset);

<# for (var j = 0; j < i; j++){ #>
        var ptr<#= j #> = (T<#= j #>*)(ComponentTypeID<T<#= j #>>.IsShared ? (pSharedBlob + off<#= j #>) : (pChunk + off<#= j #>));
<# } #>

<# for (var j = 0; j < i; j++){ #>
        if (componentRW[<#= j #>])
        {
            pVersions[versionIndex<#= j #>] = version;
        }

<# } #>

        // Execute batch
        var ulongCount = (count + 63) / 64;
        for (var block = 0; block < ulongCount; block++)
        {
            var validMask = ulong.MaxValue;
            var remaining = count - (block * 64);
            if (remaining < 64) validMask = (1UL << remaining) - 1UL;

            // Enforce enableable bits checking based on components required by Job Signature
<# for (var j = 0; j < i; j++){ #>
            if (enableOff<#= j #> != -1)
            {
                var pMask = (ulong*)(pChunk + enableOff<#= j #>);
                validMask &= pMask[block];
            }
<# } #>

            // Enforce EntityQuery Mask hidden enableable constraints
            for (var h = 0; h < batch.hiddenEnableCount; h++)
            {
                var pMask = (ulong*)(pChunk + batch.hiddenEnableOffsets[h]);
                validMask &= pMask[block];
            }

            while (validMask != 0)
            {
                var bit = System.Numerics.BitOperations.TrailingZeroCount(validMask);
                var i_ent = (block * 64) + bit;

                userJob.Execute(pEntity[i_ent], 
<# for (var j = 0; j < i; j++){ #>
                    ref (ComponentTypeID<T<#= j #>>.IsShared ? ref ptr<#= j #>[0] : ref ptr<#= j #>[i_ent])<#= j < i - 1 ? "," : "" #>
<# } #>, in ctx);

                validMask ^= (1UL << bit);
            }
        }
    }
}

<# } #>
public unsafe partial struct EntityQuery
{
<# for (var i = 1; i <= Amount; i++)
{
    var generics = AppendGenerics(i);
    var restrictions = AppendGenericRestrictionsMultiline(i, "unmanaged, IComponent", 2);
#>
    private struct DisposeJobEntity<#= i #> : IJob
    {
        public UnsafeList<JobBatchContext<#= i #>> batches;

        public void Execute(ref readonly JobExecutionContext ctx)
        {
            batches.Dispose();
        }
    }

    public JobHandle ScheduleEntityParallel<TJob, <#= generics #>>(TJob jobData, int batchSize, JobHandle dependency)
        where TJob : unmanaged, IJobEntity<<#= generics #>>
<#= restrictions #>
    {
        var world = World.GetWorld(_worldID);
        if (world is null)
        {
            return JobHandle.Invalid;
        }

        if (world.JobScheduler == null)
        {
            throw new InvalidOperationException("The World has no JobScheduler assigned.");
        }

        var batches = new UnsafeList<JobBatchContext<#= i #>>(128, TempJobAllocator.AllocationHandle);
        var hiddenOffsets = stackalloc int[16];

        foreach (var archID in _matchingArchetypes)
        {
            ref var arch = ref world.ComponentManager.GetArchetypeReference(archID);

            if (arch.ChunkCount == 0)
            {
                continue;
            }

<# for (var j = 0; j < i; j++){ #>
            int off<#= j #>;
            int enableOff<#= j #>;
            int versionIdx<#= j #>;
            if (ComponentTypeID<T<#= j #>>.IsShared)
            {
                var layout = arch.GetSharedLayout(ComponentTypeID<T<#= j #>>.Value).GetValueOrThrow();
                off<#= j #> = layout.offset;
                enableOff<#= j #> = -1;
                versionIdx<#= j #> = -1;
            }
            else
            {
                var layout = arch.GetLayout(ComponentTypeID<T<#= j #>>.Value).GetValueOrThrow();
                off<#= j #> = layout.offset;
                enableOff<#= j #> = layout.enableBitsOffset;
                versionIdx<#= j #> = layout.versionIndex;
            }
<# } #>

            var hiddenCount = 0;
            var itE = _mask.requireEnabled.GetIterator();
            while (itE.Next(out var id) && hiddenCount < 16)
            {
                var found = false;
<# for (var j = 0; j < i; j++){ #>
                if (id == ComponentTypeID<T<#= j #>>.Value) found = true;
<# } #>
                if (!found)
                {
                    var layout = arch.GetLayout(id);
                    if (layout.Error == Error.None && layout.Value.enableBitsOffset != -1)
                    {
                        hiddenOffsets[hiddenCount++] = layout.Value.enableBitsOffset;
                    }
                }
            }

            for (var chunkIdx = 0; chunkIdx < arch.ChunkCount; chunkIdx++)
            {
                ref var chunkRef = ref arch.GetChunkReference(chunkIdx);
                
                byte* pSharedBlob = null;
                if (arch._chunkGroups.Count > 0 && chunkRef._groupIndex >= 0 && chunkRef._groupIndex < arch._chunkGroups.Count)
                {
                    var sharedSpan = arch._chunkGroups[chunkRef._groupIndex].sharedData;
                    if (sharedSpan.IsCreated)
                    {
                        pSharedBlob = (byte*)sharedSpan.GetUnsafePtr();
                    }
                }

                var ctx = new JobBatchContext<#= i #>
                {
                    chunk = chunkRef.GetUnsafePtr(),
                    chunkVersions = chunkRef.GetVersionUnsafePtr(),
                    chunkCount = chunkRef._count,
                    entityOffset = arch.EntityIDsOffset,
                    sharedDataBlob = pSharedBlob,

<# for (var j = 0; j < i; j++){ #>
                    offset<#= j #> = off<#= j #>,
                    enableOff<#= j #> = enableOff<#= j #>,
                    versionIndex<#= j #> = versionIdx<#= j #>,
<# } #>
                    hiddenEnableCount = hiddenCount,
                };

                for (var h = 0; h < hiddenCount; h++)
                {
                    ctx.hiddenEnableOffsets[h] = hiddenOffsets[h];
                }
                batches.Add(ctx);
            }
        }

        var runner = new JobEntityBatch<TJob, <#= generics #>>
        {
            userJob = jobData,
            batches = batches,
            mask = _mask,
            version = world.Version,
        };

<# for (var j = 0; j < i; j++){ #>
        runner.componentIDs[<#= j #>] = ComponentTypeID<T<#= j #>>.Value;
<# } #>

        var it = _mask.writeAccess.GetIterator();
        while (it.Next(out var id))
        {
            for (var idx = 0; idx < <#= i #>; idx++)
            {
                if (id == runner.componentIDs[idx])
                {
                    runner.componentRW[idx] = true;
                    break;
                }
            }
        }

        var jobHandle = world.JobScheduler.ScheduleParallelFor(ref runner, batches.Count, batchSize, dependency);

        var disposeJob = new DisposeJobEntity<#= i #>
        {
            batches = batches,
        };

        world.JobScheduler.Schedule(ref disposeJob, jobHandle);

        return jobHandle;
    }

<# } #>
}
